idftools
webdriver_manager
wincertstore
undetected_chromedriver
winreg
pywin32
pyautogui
subprocess
database
json
cv2
intertools
cryptography
openpyxl
PyInstaller
pip
pandas
winreg
csv
configparser
sys
os
selenium
pyautogui
time
datetime
pytz
openpyxl
numpy
subprocess
os
sys
re
sys
os
anticaptchaofficial
psycopg2-binary
Pillow
opencv-python
img2pdf
xlsxwriter
setuptools
colorama
pyautogui
imp
importlib.util
importlib
undetected-chromedriver2

xvfb
#sudo apt-get install xvfb
keyboard==0.13.0
#keyboard==0.13.0  --no-deps
pynput
#sudo apt-get install x264
#sudo apt-get install x265
cv2
imageio-ffmpeg
PyVirtualDisplay==3.0